<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
	table{
			}
	
	td{
		border: solid 1px black;
		
	}

	td.horitzontal{
		border-bottom: solid 1px red;
	}

	td.vertical{
		border-left: solid 1px red;
	}

	li, ul{
		list-style: none;

	}
    </style>

</head>
<body>
<table>
	
		{% for i in range(1,10) %}
			<tr>
				{% for j in range(1,10) %}
					{% if (i is divisibleby 3) and i != 9 %}
						<td class= 'horitzontal' >{{i}}{{j}}</td>
					{% elif(j is divisibleby 3) and i != 9 %}
						<td class= 'vertical' >{{i}}{{j}}</td>
					{% else %}
						<td>{{i}}{{j}}</td>
					{% endif %}

				{% endfor %}
			<tr>
	 	{% endfor %}
	</tr>
</table>
</body>
</html>
